<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">

<style>
body {
    background-image: url('Images/arras-golf.jpg');
    background-size: cover;
    margin: 0; /* réinitialisation des marges par défaut du navigateur */
    padding: 0; /* réinitialisation des marges internes par défaut du navigateur */
    min-height: 100vh; /* spécifie la hauteur minimale de la page à 100% de la hauteur de la vue */
    position: relative; /* permet de positionner les éléments enfants par rapport à ce conteneur */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/arras-golf.jpg');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

footer {
  height: 25px;
  background-color: #f2f2f2;
}
</style>
		{% endblock %}
		<title>
			{% block title %}Golf -
			{% endblock %}
		</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-black">
			<div class="container-fluid">
				<a class="navbar-brand text-center" href="{{path('index')}}">
					Arras Golf
					<div class="container-fluid nav-item">
						<img src="Images/Img-navbar/Swing.gif" alt="Swing" width="75">
					</div>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link text-white" href="{{path('proshop')}}">Proshop
							</a>
						</li>
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<div class="d-flex flex-row-reverse">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Identification</a>
								<div class="dropdown-menu">
									<a class="dropdown-item text-black" href="{{path('app_login')}}">Se connecter
									</a>
									<a class="dropdown-item text-black" href="{{path('app_register')}}">S'inscrire
									</a>
								</div>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_logout')}}">
									<i class="bi bi-x-circle-fill text-white"></i>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

<!-- 
	1) Finir et régler la navbar :
		- Trouver la solution pour mettre l'identification à droite
												
	2) Aller plus loin :
	    - Analyser le contenu des "à propos" et "mentions légales" des sites, 
	    - Comprendre
	    - Créer ou copier coller
									
	4) Régler le "Inscrivez-vous"
		- Déjà, quand on ne met pas un mail ça met une erreur bizarre, j'aimerai que cette erreur se fasse autrement. Déjà savoir si c'est une erreur du code faite par le développeur ou juste une erreur indiquée pour l'utilisateur
															
	À part :
	  - Remplacer le GIF par webm ça n'accepte pas les fonds transparents les GIF et redimensionner l'image
	  - Voir concernant le footer pour bien le foutre tout en bas avec masse <div> dans le base html twig
-->

		{% block body %}{% endblock %}

		<footer class="navbar navbar-expand-lg navbar-dark bg-black">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto"></ul>
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link text-white" href="{{path('mentions')}}">Mentions legales
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{{path('propos')}}">À propos
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>


		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>

